<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-lg ">
                <img src="https://images.pexels.com/photos/5632386/pexels-photo-5632386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="Background Image">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card border-0">
                                    <div class="card-body p-4">
                                        <h2 class="text-center mb-2">Welcome Back!</h2>
                                        <form action="/login" method="POST">
                                            <div class="mb-3">
                                                <input type="text" class="form-control rounded-pill" name="username" id="username" placeholder="Username" required>
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" class="form-control rounded-pill" name="password" id="password" placeholder="Password" required>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-lg rounded-pill w-75">Login</button>
                                            </div>
                                        </form>
                                        <div class="text-center mt-3">
                                            <p class="mb-0">Don't have an account? <a href="/register">Sign up here</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('../partials/footer')%>
